/* Estilo cuerpo */
body {
    font-family: 'Helvetica';
    background-color: black;
    color: white;
}

/* Estilo de cabecera */
header {
    background-color: black;
    color: white;
}

/* Estilo parrafos justificados centro */
.midp {
    margin-top: -1%;
    text-align: center;
}

/* Estilo parrafos seccion experiences*/
.experiencesp{
    margin-bottom: 1%;
    margin-top: 1%;
}

/* Estilo del cuadro de busqueda */
.textToSearch{
    margin:1%;
    padding:0.75%;
    font-size:small;
    width:25%;
    color: slategrey;
    font-family:'Geneva';
}

/* Estilo del boton de busqueda */
.submitbutton{
    margin:0.5%;
    padding:0.6%;
    font-size:medium;
    background-color:slategrey;
    border:0;
    color:white;

}
/* Estilo de los titulos en los subtitulos */
.titlesubtitle {
    text-align: left;
    font-family: 'Helvetica';
    font-size: calc(0.6em + 0.6vw);;
    padding-left: 1%;
    padding-right: 1%;
}

/* Estilo de los subtitulos */
.subtitle {
    text-align: left;
    font-family: 'Geneva';
    font-weight: lighter;
    font-size: calc(0.5em + 0.5vw);
    text-align-last: left;
    padding-left: 1%;
    padding-right: 1%;
}

/* Titulos dentro de las secciones */
header.title {
    font-family: 'Helvetica';
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: calc(0.8em + 0.8vw); ;
}

/* Imagenes experiencias */
img.responsiveimg { 
    max-width: 100%;
    height: auto; 
}

/* Mapa */
@media (max-width: 3000px) {
    img.responsiveMain { 
        transform: scale(1, 1);
        transform-origin: top left;
        max-width: 100%;
    }
}

/* Logos */
img.responsivelogotop { 
    max-width: 50%;
    height: auto; 
}

img.responsivelogobot { 
    max-width: 100%;
    height: auto; 
}
/* Estilo elementos flex */
/* Boxes header */
.bigflexheader {
    margin-bottom: 2%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.bigflexheader > div {
    background-color: black;
    padding: 2%;
    font-size: calc(0.7em + 0.7vw);
    font-family: 'Helvetica';
    font-weight: lighter;
    color: white;

}

/*Boxes footer*/
.bigflexfooter {
    margin-left: 5%;
    display: flex;
    text-align: center;
    align-items: center;
}

.bigflexfooter > div {
    font-size: large;
    font-family: 'Helvetica';
    color: black;
}

/*Boxes experience section*/
.experiences {
    width: 100%;
    display: flex;
}

/* Primera linea de imagenes y texto */
.experiencesmid {
    width: 30%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.experiencesleft {
    margin-top: 25%;
    margin-left: 10%;
    width: 30%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.experiencesright {
    margin-top: 25%;
    margin-right: 10%;
    width: 30%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

/* Sucesivas */
.experiencesleftnext {
    margin-left: 10%;
    width: 30%;
    margin-top: 4%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.experiencesrightnext {
    margin-right: 10%;
    width: 30%;
    margin-top: 4%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.experiencesmidnext {
    width: 30%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -21%;
}


/* Cambio a una columna en versiones movil */
@media screen and (max-width: 640px){
    .experiences {
        width: 100%;
        display: inline-block;
    }
    .experiencesmid {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .experiencesleft {
        width: 70%;
        text-align: center;
        margin-left: 14%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 1%;
    }
    
    .experiencesright {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .experiencesleftnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .experiencesrightnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .experiencesmidnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
}

/* Logo twitter animado */
.imgtwitter{
    content: url('../images/twitter.png');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
 }

.imgtwitter:hover{
    content: url('../images/twitter.gif');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
}

/* Logo insta animado */
.imginsta{
    content: url('../images/insta.png');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
 }

.imginsta:hover{
    content: url('../images/insta.gif');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
}

/* Logo facebook animado */
.imgfacebook{
    content: url('../images/facebook.png');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
 }

.imgfacebook:hover{
    content: url('../images/facebook.gif');
    align-items: center;
    max-width: 85%;
    min-width: 60%;
    height: auto; 
}

/* ///////////Paginas secundarias//////////// */
.secondaryDiv{
    margin-top: 7%;
    width: 60%;
    margin-left: 20%;
}

/* Estilo de los titulos en los subtitulos */
.secondaryTitle {
    font-family: 'Helvetica';
    font-size: calc(0.75em + 0.75vw);
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

/* Estilo de los subtitulos */
.secondarySubtitle {
    font-family: 'Geneva';
    font-weight: lighter;
    font-size: calc(0.6em + 0.6vw);
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}


/* Primera linea de imagenes y texto */
.secondaryexperiencesmid {
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.secondarydiferentmid {
    margin-top: 2%;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.secondaryexperiencesleft {
    margin-top: 2%;
    margin-left: 2%;
    width: 20%;
    text-align: center;
    padding-left: 2%;
    padding-right: 1%;
}

.secondaryexperiencesright {
    margin-top: 2%;
    margin-right: 2%;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 2%;
}

/* Sucesivas */
.secondaryexperiencesleftnext {
    margin-left: 2%;
    width: 20%;
    margin-top: 2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 1%;
}

.secondaryexperiencesrightnext {
    margin-right: 2%;
    width: 20%;
    margin-top: 2%;
    text-align: center;
    padding-left: 1%;
    padding-right: 2%;
}

.secondaryexperiencesmidnext {
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.secondarydiferentmidnext {
    margin-top: 2%;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

/* Cambio a una columna en versiones movil */
@media screen and (max-width: 640px){
    .secondaryexperiencesmid {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondarydiferentmid {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondaryexperiencesleft {
        width: 70%;
        text-align: center;
        margin-left: 14%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondaryexperiencesright {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    /* Sucesivas */
    .secondaryexperiencesleftnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondaryexperiencesrightnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondaryexperiencesmidnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
    .secondarydiferentmidnext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    
}
/* Estilo de los videos */

iframe{
    width: 100%;
    height: 100%;
    align-self: center;
}

.videosRight {
    margin-top: 7%;
    margin-right: 2%;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 2%;
}

.videosMid {
    margin-top: 7%;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.videosLeft {
    margin-top: 7%;
    margin-left: 2%;
    width: 20%;
    text-align: center;
    padding-left: 2%;
    padding-right: 1%;
}

/* Cambio a una columna en versiones movil */
@media screen and (max-width: 640px){   
    .videosRight {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .videosMid {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .videosLeft {
        width: 70%;
        text-align: center;
        margin-left: 14%;
        margin-right: 15%;
        margin-bottom: 0%;
        margin-top: 5%;
    }
}


/* POP-UPS */
.standard-popup{
    background-color:white;
    display : none;
    position: absolute;
    margin-top: 15%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius:5%;
}

.signUp-popup{
    background-color:white;
    display : none;
    position: absolute;
    margin-top: 15%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius:5%;
}

.errOnField{
    display: none;
    font-family: 'Helvetica';
    font-size: calc(0.5em + 0.5vw);
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: rgb(212,42,42);
}

.form-p{
    font-family: 'Helvetica';
    font-size: calc(0.65em + 0.65vw);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    text-align: center;
    color: black;
}

.form-input{
    font-family: 'Helvetica';
    font-size: calc(0.65em + 0.65vw);
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    margin-top: -1%;
    text-align: center;
    color: black;
}

.formTextBoxes{
    font-size: calc(0.5em + 0.5vw);
    padding: 1%;
    width:90%;
    color: black;
    border-color: black;
    font-family:'Geneva';
    text-align: center;
}


/* Estilo del boton de logIn */
.submit-btn{
    margin:1%;
    padding:1.5%;
    font-size: calc(0.65em + 0.65vw);
    background-color:grey;
    border-radius: 5%;
    color:white;

}

.cross-p{
    font-family: 'Helvetica';
    font-size: calc(0.85em + 0.95vw);
    text-align: center;
    color: black;
}

.checklist{
    font-family: 'Helvetica';
    font-size: calc(0.55em + 0.55vw);
    margin-top: -1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    text-align: center;
    color: black;
}
